html {
    font-family: Arial, Helvetica, sans-serif;
}

.large {
    font-size: 50px;
}

.flashes {
    color: red;
}

.flashLogin {
    text-align: center;
    color: red;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}