html {
    font-family: Arial, Helvetica, sans-serif;
}

.large {
    font-size: 50px;
}

.flashes {
    color: red;
}

.flashLogin {
    text-align: center;
    color: red;
}

table {
    text-align: center;
}