{% extends "base.html" %}

{% block head %}
<title>Admin Password Change - Allowance</title>
{% endblock %}

{% block body %}
<h1>Admin Password Change</h1>
<h2>Logged in as {{ session['username'] }}</h2>
<br>
<h2>Change Password of User "{{ user }}"</h2>
<form method="post">
    <h3>Admin Password: </h3>
    <input type="password" name="admin">
    <h3>New Password: </h3>
    <input type="password" name="new">
    <h3>Confirm New Password: </h3>
    <input type="password" name="confirm"><br>
    <br><button type="submit">Change Password</button>
</form>
{%- with messages = get_flashed_messages() -%}
    {%- if messages -%}
        <div class="flashes">
            {%- for message in messages -%}
                {% if message == "Password change complete!" %}
                <p style="color: green;">{{ message }}</p>
                {% else %}
                <p>{{ message }}</p>
                {% endif %}
            {%- endfor -%}
        </div>
    {%- endif -%}
{%- endwith -%}
<br>
<a href="/accounts/{{ user }}">Return to {{ user }}'s profile</a><br>
<a href="/">Home</a>
{% endblock %}