{% extends "base.html" %}

{%- block head -%}
<title>Create Account - Allowance</title>
{%- endblock -%}

{%- block body -%} 
<form method="post">
    <h1 class="large">Create Account</h1>
    <h2>Username: </h2>
    <input type="text" name="username">
    <br>
    <h2>Password: </h2>
    <input type="password" name="password">
    <h2>Confirm Password: </h2>
    <input type="password" name="confirm">
    <h2>Administrator: </h2>
    <input type="checkbox" value="false" name="admin">
    <h2>Birthdate: </h2>
    <input type="date" name="birthdate">
    <br><br>
    <button type="submit">Create</button>
</form>

{%- with messages = get_flashed_messages() -%}
    {%- if messages -%}
        <div class="flashes">
            {%- for message in messages -%}
            {% if message == "User creation successful!" %}
                <p style="color: green;">{{ message }}</p>
                {% else %}
                <p>{{ message }}</p>
                {% endif %}
            {%- endfor -%}
        </div>
    {%- endif -%}
{%- endwith -%}
<br>
<a href="/" style='text-align: center;'>Home</a>
{%- endblock -%}