{% extends "base.html" %}

{% block head %}
<title>{{ account['username'] }}'s Account - Allowance</title>
{% endblock %}

{% block body %}
<h1>{{ account['username'] }}</h1>
{% if admin %}
<a href="/viewaccounts">View All Accounts</a>
{% endif %}
<h3>Account Stats</h3>
<table>
    <tr>
        <th>User ID</th>
        <th>Balance</th>
        <th>Birthdate</th>
    </tr>
    <tr>
        <td>{{ account['id'] }}</td>
        <td>{{ "{:.2f}".format(account["balance"]) }}</td>
        <td>{{ account['birthdate'] }}</td>
    </tr>
</table>
<h3>Transaction History</h3>
<table>
    <tr>
        <th>Transaction ID</th>
        <th>Amount</th>
        <th>TO/FROM</th>
        <th>To/From User</th>
        <th>Timestamp</th>
    </tr>
    <!-- 0=id, 1=amount, 2=user_id_to, 3=user_id_from, 4=usertofrom -->
    {% for transaction in transactions %}
    <tr>
        <td>{{ transaction[0] }}</td>
        <td>{{ '{:.2f}'.format(transaction[1]) }}</td>
        {% if account['id'] == transaction[3] %}
            <td>TO</td>
            {% if not admin or transaction[5] == "admintransfer" %}
            <td>{{ transaction[5] }}</td>
            {% else %}
            <td><a href="/accounts/{{ transaction[5] }}">{{ transaction[5] }}</a></td>
            {% endif %}
        {% else %}
        <td>FROM</td>
            {% if not admin or transaction[5] == "admintransfer" %}
            <td>{{ transaction[5] }}</td>
            {% else %}
            <td><a href="/accounts/{{ transaction[5] }}">{{ transaction[5] }}</a></td>
            {% endif %}
        {% endif %}
        <td>{{ transaction[4] }}</td>
    </tr>
    {% endfor %}
</table><br>
{% if account['username'] == session['username'] %}
<a href="/account">Change Password</a><br>
{% else %}
<a href="/adminpasswordchange/{{ account['username'] }}">Change Password (Admin)</a><br>
{% endif %}
<a href="/">Home</a>
{% endblock %}